*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo{
    margin-top: 5px;
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.navigation a:hover:after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.2s;
}
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
    translate: transformY(-3px);
}
.wrapper {
    position: relative;
    margin-top: 20px;
    width: 400px;
    height: 440px; 
    background: rgba(255, 255, 255, 0.645);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease, height 0.5s ease;
}
.wrapper.active-popup {
    transform: scale(1);
    z-index: 100;
    transition: transform 0.5s ease;
}
.wrapper .form-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    opacity: 1;
    transition: all 0.5s ease;
}
.wrapper .form-box.login {
    height: 100%;
    opacity: 1;
    transform: scaleY(1);
    z-index: 2;
}
.wrapper .form-box.register {
    height: 100%;
    opacity: 0;
    transform: scaleY(0);
    z-index: 1;
}
.wrapper.active {
    height: 540px; 
}
.wrapper.active .form-box.login {
    transform: scaleY(0.8); 
    opacity: 0;
    z-index: 1;
}

.wrapper.active .form-box.register {
    transform: scaleY(1); 
    opacity: 1;
    z-index: 2;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 10; 
    transform: scale(1.2);
}
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #162938;
    font-size: 0.8em;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    top: 15%;
    right: 8px;
    line-height: 57px;
    font-size: 1.2em;
}
.remember-forgot{
    margin: 10px 0;
    font-size: 0.9em;
    color: #162938;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 50px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}
.login-register{
    text-align: center;
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}